<%- include("partials/header") %>

<div class="Divheading">
<h1 class="heading">The Sparks Bank</h1>
<p class="para">
  Welcome to The Sparks Bank! here the customer can transfer money from their account to some other customer's account and the customers can also see the transaction history.
  </p>
</div>

<%- include("partials/footer") %>
